<%= form_for(@micropost) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div id="id_counter_simbol">

  </div>
  <div class="field" >
    <%= f.text_area :content, placeholder: "Compose new micropost...",:onkeyup => "checker()", :max_length=>140  %>

  </div>
  <%= f.submit "Post", class: "btn btn-large btn-primary" %>
<% end %>